@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 225 67% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 67% 94%;
    --secondary-foreground: 0 0% 13%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 45%;
    --accent: 231 67% 94%;
    --accent-foreground: 0 0% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 225 67% 35%;
    --radius: 0.5rem;
    
    --chart-1: 187 94% 24%;
    --chart-2: 349 58% 54%;
    --chart-3: 195 76% 61%;
    --chart-4: 29 100% 42%;
    --chart-5: 145 63% 42%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 97%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 97%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 97%;
    --primary: 225 67% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 10% 20%;
    --secondary-foreground: 0 0% 97%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 225 10% 20%;
    --accent-foreground: 0 0% 97%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 225 67% 45%;

    --chart-1: 187 80% 34%;
    --chart-2: 349 68% 64%;
    --chart-3: 195 86% 71%;
    --chart-4: 29 100% 52%;
    --chart-5: 145 73% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
